<a href="https://colab.research.google.com/github/Magartej/crime-data-nepal-analysis/blob/main/Data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Attribute Information**



1.
2.

In [1]:
#importing numpy, pandas, mathplotand other method
import pandas as pd # data manupulation
import numpy as np # math calculation / number
import matplotlib.pyplot as plt # graph or data visualization
%matplotlib inline
# jun line ma graph cha tai auna lai
import seaborn as sns # graphing

In [5]:
#importing the drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# first read the data file

df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/number-of-crime-cases-recorded-in-women-and-children-service-center-police-headquarter-from-1996.csv")

In [4]:
# printing the data
df

,Fiscal Year,Rape,Attempt rape,Trafficking,Abortion,Polygamy,Child marriage,Domestic violence,Total
0,1996/97,112,34,117,74,101,5,337,780
1,1997/98,181,34,130,101,135,3,228,812
2,1998/99,141,18,110,81,96,1,432,879
3,1999/2000,186,33,120,89,96,5,711,"1,240"
4,2000/01,122,35,92,55,75,1,449,829
5,5-yearly average,148,31,114,80,101,3,431,908
6,2001/02,129,21,40,14,51,0,410,665
7,2002/03,157,18,55,15,69,2,569,885
8,2003/04,154,19,56,8,44,3,922,"1,206"
9,2004/05,188,25,72,11,66,1,730,"1,093"
10,2005/06,195,38,97,14,65,1,939,"1,349"
11,5-yearly average,165,24,64,12,59,1,714,"1,040"
12,2006/07,317,70,112,3,94,7,"1,100","1,703"
13,2007/08,309,73,123,13,122,4,881,"1,525"
14,2008/09,391,75,139,12,170,2,968,"1,757"
15,2009/10,376,101,161,8,146,7,983,"1,782"
16,2010/11*,233,68,74,8,96,2,662,"1,143"
17,5-yearly average*,355,84,133,10,137,5,"1,002","1,726"

18 rows x 5 columns